@import 'reset';
@import 'variables';
@import 'header';
@import 'animations';

.change {
  .circle {
    -webkit-transform: rotate(180deg) translate(9px, 6px);
    transform: rotate(180deg) translate(9px, 6px);
    -webkit-transform: translate(37px, 30px);
    transform: translate(37px, 30px);
  }
}
// .change {
//   .circle {
//     @include animation(moveMoon, 3s, linear, fowards);
//   }
// }
// Header

main {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 3fr;

  .landingDiv {
    background-color: $darksmoke;
    grid-row: 1;
    height: 100vh;

    .portrait {
      margin: 11% auto;
      max-width: 60%;
      @include animation(slideIn, 0.667s, ease-out, forwards);

      img {
        // margin:130px auto 30px;
        max-width: 100%;
        border-radius: 800px;
      }
    }
  }

  article {
    background-color: $purple;
    grid-row: 3;
  }
}
//

section {
  width: 100vw;
  height: 100vh;
  background-color: $backgroundwhite;

  .sectionContact {
    width: 100%;
    height: 72%;
    margin: 7% auto 0;
    display: flex;
    flex-flow: column;
    // background-color: lighten($grayflat, 10%);
    background-color: $darksmoke;
    @include animation(dropNav, 0.7s, ease-out, forwards);

    .title {
      color: $whitetext;
      text-align: right;
      padding: 3%;
    }

    .spacer {
      grid-row: 2;
    }

    .contactItem {
      margin: 3% auto;
      width: 250px;
      flex-grow: 1;
      border: 2px solid lighten($grayflat, 40%);
      border-radius: 5.3px 5.5px 4.5px 5.2px;

      a {
        color: $whitetext;
        font-weight: bold;
      }

      div {
        width: 90%;
        height: 90%;
        margin: 0 auto;

        p {
          margin: 0 auto;
          text-align: center;
          overflow-wrap: break-word;
          color: lighten($grayflat, 40%);
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 30px;
  width: 100%;

  .footer {
    position: sticky;
    bottom: 0;
    margin: 30px, auto;
    padding: 10%;
    color: $whitetext;
    background-color: $blacksmoke;
    height: 100%;
    width: 100%;

    a {
      color: $whitetext;
    }
  }
}
@media (min-width: 380px) {
  main {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr;

    .landingDiv {
      background-color: $darksmoke;
      grid-row: 1;
      height: 100vh;

      .portrait {
        margin: 11% auto;
        max-width: 60%;
        @include animation(slideIn, 0.667s, ease-out, forwards);

        img {
          // margin:130px auto 30px;
          max-width: 100%;
          border-radius: 800px;
        }
      }
    }

    article {
      background-color: $purple;
      grid-row: 3;
    }
  }
  //
  section {
    width: 100vw;
    height: 100vh;
    background-color: $backgroundwhite;

    .sectionContact {
      width: 96%;
      height: 72%;
      margin: 7% auto 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 3fr 1fr;
      grid-gap: 3%;
      // background-color: lighten($grayflat, 10%);
      background-color: $darksmoke;
      @include animation(dropNav, 0.7s, ease-out, forwards);

      .title {
        grid-row: 1;
        grid-column: 0/2;
        color: $whitetext;
        text-align: right;
        padding: 3%;
      }

      .spacer {
        grid-row: 2;
      }

      .contactItem {
        margin: 0 auto;
        width: 250px;
        grid-row: 2;
        border: 2px solid lighten($grayflat, 40%);
        border-radius: 5.3px 5.5px 4.5px 5.2px;

        a {
          color: $whitetext;
          font-weight: bold;
        }

        div {
          width: 90%;
          height: 90%;
          margin: 0 auto;

          p {
            margin: 0 auto;
            text-align: center;
            overflow-wrap: break-word;
            color: lighten($grayflat, 40%);
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 30px;
    width: 100%;

    .footer {
      position: sticky;
      bottom: 0;
      margin: 30px, auto;
      padding: 10%;
      color: $whitetext;
      background-color: $blacksmoke;
      height: 100%;
      width: 100%;

      a {
        color: $whitetext;
      }
    }
  }
}
@media (min-width: 560px) {
  main {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 3fr;

    .landingDiv {
      background-color: $darksmoke;
      grid-row: 1;
      height: 100vh;

      .portrait {
        margin: 11% auto;
        max-width: 60%;
        @include animation(slideIn, 0.667s, ease-out, forwards);

        img {
          // margin:130px auto 30px;
          max-width: 100%;
          border-radius: 800px;
        }
      }
    }

    article {
      background-color: $purple;
      grid-row: 3;
    }
  }
  //
  section {
    width: 100vw;
    height: 100vh;
    background-color: $backgroundwhite;

    .sectionContact {
      width: 96%;
      height: 72%;
      margin: 7% auto 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 3fr 1fr;
      grid-gap: 3%;
      // background-color: lighten($grayflat, 10%);
      background-color: $darksmoke;
      @include animation(dropNav, 0.7s, ease-out, forwards);

      .title {
        grid-row: 1;
        grid-column: 3/5;
        color: $whitetext;
        text-align: right;
        padding: 3%;
      }

      .spacer {
        grid-row: 2;
      }

      .contactItem {
        margin: 0 auto;
        width: 250px;
        grid-row: 2;
        border: 2px solid lighten($grayflat, 40%);
        border-radius: 5.3px 5.5px 4.5px 5.2px;

        a {
          color: $whitetext;
          font-weight: bold;
        }

        div {
          width: 90%;
          height: 90%;
          margin: 0 auto;

          p {
            margin: 0 auto;
            text-align: center;
            overflow-wrap: break-word;
            color: lighten($grayflat, 40%);
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 30px;
    width: 100%;

    .footer {
      position: sticky;
      bottom: 0;
      margin: 30px, auto;
      padding: 10%;
      color: $whitetext;
      background-color: $blacksmoke;
      height: 100%;
      width: 100%;

      a {
        color: $whitetext;
      }
    }
  }
}
// hamburgerIcon animation and style
// .bar {
//   width: 35px;
//   height: 5px;
//   background-color: $purple;
//   margin: 6px 0;
//   transition: 0.4s;
// }
// .bar1 {
//   @extend .bar;
// }
//
// .bar2 {
//   @extend .bar;
// }
//
// .bar3 {
//   @extend .bar;
// }
// .change {
//   .bar1 {
//     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
//     transform: rotate(-45deg) translate(-9px, 6px);
//   }
//
//   .bar2 {
//     opacity: 0;
//   }
//
//   .bar3 {
//     -webkit-transform: rotate(45deg) translate(-8px, -8px);
//     transform: rotate(45deg) translate(-8px, -8px);
//   }
// }