$blacksmoke: rgb(54, 58, 63);
$backgroundwhite: rgb(252, 255, 254);
$grayflat: rgb(112, 124, 132);
$purple: rgb(51, 19, 165);
$whitetext: rgb(239, 237, 244); // * {
//   border:1px solid $blacksmoke;
// }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: $backgroundwhite;
}

a {
  padding: 0 15px;
  color: $blacksmoke;
  text-decoration: none;
  font-weight: 300;
}
// header animations

.hidden {
  display: hidden;
}

.hamburgerIcon {
  display: inline-block;
  cursor: pointer;
  padding: 1% 15%;

  .wolf {
    // background-color: inherit;
    width: 50px;
    height: 50px;
    z-index: 2;
  }

  .circle {
    background-color: $backgroundwhite;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    box-shadow: 1px -3px 10px 3px rgba(0, 9, 0, .4);
  }
}

.change {
  .circle {
    -webkit-transform: rotate(180deg) translate(9px, 6px);
    transform: rotate(180deg) translate(9px, 6px);
    -webkit-transform: translate(37px, 30px);
    transform: translate(37px, 30px);
  }
}
// Header

.header {
  position: sticky;
  top: 0;
  margin: 0 auto;

  .navBarMain {
    // position: fixed;
    width: 100%;
    max-height: 100px;
    background-color: $grayflat;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 3fr 1fr;

    .infoNav {
      grid-row: 2;
      grid-column: 2/4;
      background-color: lighten($grayflat, 6%);
      padding: 20px 0;
      margin: 0 3%;
      box-shadow: 1px 10px 3px rgba(0, 9, 0, .4);
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-left: 1%;
      margin: 0;
    }

    li {
      flex-grow: 1;
      margin: 0 5px 0 0;
      padding: 2%;
      display: block;
      // border: 2px solid $blacksmoke;
      list-style: none;

      h4 {
        margin: 0 auto;
        text-align: center;
        background-color: $blacksmoke;
        color: darken($whitetext, 30%);
        box-shadow: 1px 5px 1px darken($grayflat, 30%);
        padding: 2%;
      }
    }
  }
}

main {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 3fr;

  .landingDiv {
    background-color: darken($blacksmoke, 10%);
    grid-row: 1;
    height: 100vh;

    .portrait {
      margin: 5% auto;
      max-width: 60%;

      img {
        // margin:130px auto 30px;
        max-width: 100%;
        border-radius: 800px;
      }
    }
  }

  article {
    background-color: $purple;
    grid-row: 3;
  }
}
//

section {
  width: 100vw;
  height: 100vh;
  background-color: $grayflat;

  .sectionContact {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-gap: 3%;
    background-color: lighten($grayflat, 10%);

    .title {
      grid-row: 1;
      grid-column: 1/4;
    }

    .spacer {
      grid-row: 2;
    }

    .contactItem {
      margin: 0 auto;
      width: 90%;
      grid-row: 2;

      p {
        text-align: center;
        color: darken($blacksmoke, 10%);
      }
    }
  }
}
// hamburgerIcon animation and style
// .bar {
//   width: 35px;
//   height: 5px;
//   background-color: $purple;
//   margin: 6px 0;
//   transition: 0.4s;
// }
// .bar1 {
//   @extend .bar;
// }
//
// .bar2 {
//   @extend .bar;
// }
//
// .bar3 {
//   @extend .bar;
// }
// .change {
//   .bar1 {
//     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
//     transform: rotate(-45deg) translate(-9px, 6px);
//   }
//
//   .bar2 {
//     opacity: 0;
//   }
//
//   .bar3 {
//     -webkit-transform: rotate(45deg) translate(-8px, -8px);
//     transform: rotate(45deg) translate(-8px, -8px);
//   }
// }